<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.talkcipher">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".talkCipher"
        android:allowBackup="true"
        android:icon="@drawable/ic_cipher"
        android:label="TalkCipher"
        android:roundIcon="@drawable/ic_cipher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TalkCipher">
        <activity android:name=".SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UsernameActivity"
            android:theme="@style/Theme.TalkCipher"
            android:parentActivityName=".SettingsActivity" />
        <activity android:name=".ChatDetailsActivity" />
        <activity android:name=".SignUpActivity"
            android:theme="@style/Theme2.TalkCipher"
            android:parentActivityName=".SignInActivity"/>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SignInActivity"
            android:theme="@style/Theme2.TalkCipher"
            />
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>